/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #BDAE9D }  /* plain text */

@media screen {
  .str { color: #009600 }  /* string content */
  .kwd { color: #52B0FE }  /* a keyword */
  .com { color: #5A5A5A }  /* a comment */
  .typ { color: #7290D9 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #BDAE9D }
  .tag { color: #43A8ED }  /* a markup tag name */
  .atn { color: #43A8ED }  /* a markup attribute name */
  .atv { color: #43A8ED }  /* a markup attribute value */
  .dec, .var { color: #43A8ED }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background: #2A211C;
  font-size: 14px;
  padding: 0;
}
/* darker, more subtle color: 2A211C
   somewhat more light, more brown color: 342923
*/
/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */

ol.linenums {
  list-style-type: none;
  margin-left: 0;
}

ol.linenums > li:before {
  content: counter(customlistcounter) " ";
  counter-increment: customlistcounter;
  float: left;
  width: 2em;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

ol.linenums:first-child {
  counter-reset: customlistcounter;
}

ol.linenums {
  *list-style-type: decimal; /* targets IE6 and IE7 only */
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 { color: #8F7E65 }

pre.prettyprint {
  padding: 0.5em;
  white-space: pre-wrap;
  border: 0px none;
}
