    <div class="header nav">
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <p>
       <a href="https://github.com/mixu/distsysbook"><img src="./images/git-icon.png" class="inline"> git</a>,
       <a href="single-page.html"><img src="./images/format_html.png" class="inline"> Single page HTML</a>,
       <a href="mixu-distributed-systems-book.mobi"><img src="./images/format_mobi.png" class="inline"> Kindle .mobi</a>,
       <a href="http://www.printfriendly.com/print/v2?url=http://book.mixu.net/distsys/ebook.html"><img src="./images/format_pdf.png" class="inline"> PDF</a>,
       <a href="mixu-distributed-systems-book.epub"><img src="./images/format_epub.png" class="inline"> .epub</a>,
       <a href="ebook.html"><img src="./images/format_html.png" class="inline"> HTML for printing</a>.
      </p>
    </div>
    <div class="clear">
      <br>
    </div>

    <div class="header nav">
      <a href="https://twitter.com/share" class="twitter-share-button" data-align="left" data-text="Distributed systems for fun and profit" data-via="mikitotakada" data-url="http://book.mixu.net/distsys/">Tweet</a>
    </div>

    <div class="clear">
      <hr>
    </div>
